*{
   margin: 0;padding: 0;
}

button{
   cursor: pointer;
}




.container{
   background-color: rgb(109, 101, 147);
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.title{
   margin-bottom: 20px;
   border-bottom: 2px solid #0e0d0d;
   font-weight: 700;
}
.input_1,
.input_2,
.result
{padding-left: 10px;
   width: 500px;
   height: 50px;
   border-radius: 10px;
   border: none;
   margin-bottom: 30px;
}

.input{
   display: flex;
   flex-direction: column;
}


.btn {
   display: flex;
   gap:70px;
   margin-bottom: 30px;

}
.button_sum,
.button_min,
.button_mnog,
.button_del
   {
   padding: 7px 100px;
   border-radius: 10px;
   border: none;
   font-size: 32px;
}

.button_del{
   background-color: rgb(66, 31, 240);
}

.button_del:hover{
   background-color: rgb(31, 160, 240) ;
  }

.button_mnog{
   background-color: rgb(218, 130, 24);
}
.button_mnog:hover{
   background-color: rgb(232, 178, 16) ;
}
.input_1::placeholder,
.input_2::placeholder 
   {
   padding-left: 15px;
   align-items: center;
   font-size: 20px;
}

.button_sum::placeholder{
   font-size: 32px;
}

.button_sum {
   background-color: rgb(6, 225, 42);
}

.button_sum:hover{
 background-color: rgb(18, 114, 34); ;
}

.button_min {
   background-color: rgb(255, 36, 7);  
}

.button_min:hover {
   background-color: rgb(194, 34, 53);  
}

.result{
   width: 500px;
   background-color: transparent;
   color: aqua;
   border: 2px solid aquamarine;
}

.result:hover{
   background-color: rgba(41, 213, 213, 0.596);
   color: aquamarine;
}

.content {
   text-align: center;
   gap: 5px;
   background-color: aliceblue;
   padding: 10px 220px;
   border-radius: 10px;
   font-size: 20px;

}